/* You can add global styles to this file, and also import other style files */

.prof_button {
    position: static;
    display: flex;
    flex-direction: row;
    background: gray;
}

.img {
    background: yellow;
}