<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GetWax</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="app">
    <v-app>
        <v-content>
            <v-app-bar color="blue">
                <v-toolbar-title>GetWax</v-toolbar-title>
                <v-btn color="green"></v-btn>
            </v-app-bar>
            <v-container>
                    <!-- <div class="header_container">
                        <div class="prof_wrapper">
                            <div class="prof_button">
                                <v-avatar size=36 color="green" class="prof_image">
                                    <v-icon dark>mdi-account-circle</v-icon>
                                </v-avatar>
                            </div>
                            <div id="prof_name">{{ name }}</div>
                        </div>
                    </div> -->
                    <div class="main_container">
                        <div class="button" id="back">
                            <button type="button">Back</button>
                        </div>
                        <div class="album">
                            <div class="album_name">Album</div>
                            <div class="album_artist">Artist</div>
                            <div class="album_image">
                                <img src="" alt="album art">
                            </div>
                            <div class="links">Links
                            </div>
                        </div>
                        <div class="button" id="next">
                            <button type="button">Next</button>
                        </div>
                    </div>
                    <!-- <footer>
                    <div id="github_link">
                        <a href="https://github.com/michaelstresing/getwax">
                            <img class="icon" src="../static/github.png" alt="Github">
                        </a>
                    </div>  
                    </footer> -->
                    <v-footer
                    dark
                    padless
                  >
                    <v-card
                      class="flex"
                      flat
                      tile
                    >
                      <v-card-title>
                        <v-spacer></v-spacer>
                        <v-icon>fas fa-github></v-icon>
                      </v-card-title>
                      <v-card-text class="py-2 white--text text-center">
                        {{ new Date().getFullYear() }} — <strong>GetWax</strong>
                      </v-card-text>
                    </v-card>
                  </v-footer>
                    </v-container>
                </v-content>
            </v-app> 
        </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="../static/app.js"></script>
</body>

</html>
