<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GetWax</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" href="../static/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="app">
    <v-app>
        <v-content>
            <v-app-bar color="secondary" elevation=0>
                <v-toolbar-title>GetWax</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn rounded
                        v-on:click="getprofile()" 
                        color="accent"
                        max-width=500
                        >
                    <v-avatar size=36>
                        <img :src="`${picture}`">                        
                    </v-avatar>
                    <p v-bind:name="name">[[ name ]]</p>
                </v-btn>
            </v-app-bar>
            <v-container flex-direction:row fluid fill-height fill-width align-center secondary>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon color="accent" large>fas fa-arrow-left</v-icon>
                </v-btn>
                <v-card elevation="3" color="white" width="25%" id="active_album">
                    <v-card-text>
                        <p class="display-1 text--primary">
                            ALBUM
                        </p>
                        <p class="text--primary">
                            ARTIST
                        </p>
                        <img alt="album art">
                    </v-card-text>
                </v-card>
                <v-btn icon>
                        <v-icon color="accent" large>fas fa-arrow-right</v-icon>
                </v-btn>
                <v-card color="white" id="active_actions">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                LINKS
                            </p>
                            <p class="text--primary">
                                coming
                            </p>
                        </v-card-text>
                    </v-card> 
                <v-spacer></v-spacer>
                </v-container>
                <v-footer absolute dark padless class="flex" color="secondary-darken">
                    <v-spacer></v-spacer>
                    <p class="py-2 white--text center">
                        [[ date ]] — <strong>GetWax</strong>
                    </p>
                    <v-spacer></v-spacer>
                    <v-btn icon href="https://github.com/michaelstresing/getwax" pa-2>
                        <v-icon large>fab fa-github</v-icon>
                    <v-spacer></v-spacer>
                    </v-btn>
                </v-footer>
            </v-content>
        </v-app> 
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="../static/app.js"></script>
</body>

</html>
